snippet cls "Class"
public class $1 {
	public static void main(String[] args) {
		$0
	}
}
endsnippet

snippet print "Print"
System.out.println($0
endsnippet

snippet for "For loop"
for (int i = 0; i < $1; i++) {
	$0
}
endsnippet
